[submodule "home/.vim/bundle/molokai"]
	path = home/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "home/.vim/bundle/vim-latex"]
	path = home/.vim/bundle/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "home/.vim/bundle/vimclojure"]
	path = home/.vim/bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "home/.vim/bundle/vim-indent-guides"]
	path = home/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
